<div class="container">

    <div class="jumbotron">
        {{#each Article}}
        <h2> "{{this.title}}" </h2>
        <h4><a href="https://www.nba.com/{{this.link}}" target="_blank"> {{this.link}}</a></h4><hr>
            <button type="button" data-id="{{this._id}}" class="btn btn-warning" id="add-note" data-toggle="modal" data-target="#noteModal">Add Note</button>
            <a href="/"> <button type="button" class="btn btn-primary save-article">Back to Articles</button></a>
    </div>
    {{/each}}
 <br>
 {{#each article}}
 {{#each this.note}}
 <div class = "well">
     <p>{{this.note}}</p>

     <form method="DELETE" action="/delete/{{this.id}}">
        <a href="/delete"> <button class="btn btn-danger btn-sm" id="note-delete">Delete Note</button></a>
        </form>

 </div>
    {{/each}} {{/each}}
</div>